html{ height:100%; background: linear-gradient(0deg, white, blue 80%) no-repeat;}

h1{text-align:center;border-top:solid black; border-bottom:solid black;width:80px;position:relative; left:46.5%;font-family:Script; font-size:40px}

button{width:144px; margin-bottom:10px;box-shadow: 10px 5px 5px black;font-family:Helvetica}


.news{background-color: blue; color: yellow}
.entertainment{background-color: red; color: yellow;}
.programming{background-color: black; color:white;}
.search{background-color:green; color:black;}
.marine{display:block; margin-left:auto; margin-right:auto; background-color:yellow;}
#all{z-index:1}
#container{width:100%;position:relative;}
#wx{display:block; margin-left:auto; margin-right:auto; width: 150px; z-index:2}
#sat{position:relative;z-index:3;margin-top:-15%; width: 40%;float:right}
#radar{width:40%;z-index:3; margin-top:-15%}
