html{background:linear-gradient(to bottom, red, gray) no-repeat}
@font-face{font-family: 'Wonton';src: url('/Fonts/Wonton.ttf')}
body{font-family:Wonton}
h1{text-align:center;margin-bottom:-20px}
h2{margin-bottom:-5px}
#cap {list-style:none;text-align:center;font-size:1.5em}

#cap li {display:inline;margin-right:20px}

#cap li:before{content:'\262f'}

#left{margin-top:.5%;float:left;width: 20%;height:100%;border-right: solid 2px; padding-right: 10px}
#right{margin-top:.5%;float:right;width: 20%;height:100%;border-left:solid 2px; padding-left:10px}
#center{width:80%;margin-top:3%}
img{width:25%;display:block;margin-left:auto;margin-right:auto;border-radius:10px;border:1px solid black}
